[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2023.11.17"
chardet = "==4.0.0"
coverage = "==7.4.1"
dj-database-url = "==2.1.0"
django-configurations = "==2.5"
docopt = "==0.6.2"
freezegun = "==1.4.0"
gunicorn = "==21.2.0"
idna = "==3.3"
pbr = "==6.0.0"
psycopg2-binary = "==2.9.9"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.1"
pythonanywhere = "==0.12.1"
pytz = "==2023.4"
requests = "==2.27.1"
selenium = "==4.1.0"
six = "==1.16.0"
sqlparse = "==0.4.4"
stevedore = "==5.1.0"
urllib3 = "==1.26.8"
virtualenv = "==20.21.1"
virtualenv-clone = "==0.5.7"
virtualenvwrapper = "==6.1.0"
whitenoise = "==6.6.0"
seleniumbase = "==2.4.14"
Django = "==4.2.7"
setuptools = "==69.0.3"

[dev-packages]

[requires]
python_version = "3.9"
