[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2024.8.30"
chardet = "==4.0.0"
coverage = "==7.6.5"
dj-database-url = "==2.3.0"
django-configurations = "==2.5.1"
docopt = "==0.6.2"
freezegun = "==1.5.1"
gunicorn = "==23.0.0"
idna = "==3.3"
pbr = "==6.1.0"
psycopg2-binary = "==2.9.10"
python-dateutil = "==2.9.0.post0"
python-dotenv = "==1.0.1"
pythonanywhere = "==0.15.2"
pytz = "==2024.2"
requests = "==2.27.1"
selenium = "==4.1.0"
six = "==1.16.0"
sqlparse = "==0.5.2"
stevedore = "==5.3.0"
urllib3 = "==1.26.8"
virtualenv = "==20.21.1"
virtualenv-clone = "==0.5.7"
virtualenvwrapper = "==6.1.1"
whitenoise = "==6.8.2"
seleniumbase = "==2.4.14"
Django = "==4.2.7"
setuptools = "==75.5.0"

[dev-packages]

[requires]
python_version = "3.10"
