certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2
docopt==0.6.2
gunicorn==19.9.0
idna==2.6
pbr==4.0.3
psycopg2==2.7.2
python-dotenv==0.10.1
pythonanywhere==0.0.12
pytz==2018.4
requests==2.18.4
six==1.11.0
sqlparse==0.3.0
stevedore==1.28.0
urllib3>=1.24.2
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
whitenoise==4.1.2
django-configurations==2.1